* {
  color: rgb(36, 35, 35);
}

.desc {
  border-radius: 10px;
  width: 80%;
  height: 150px;
  background-color: rgba(104, 3, 3, 0.7);
  color: white;
  overflow-y: auto;
}

img {
  height: 400px;
}
